<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/highstock.js"></script>
	<script src="/javascripts/exporting.js"></script>
    <title>charts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include urls.ejs %>

  	<div id="container" style="height: 500px; min-width: 500px"></div>
  	<script>
		$(function () {
		  
		    var getData = function(change){
		         var data = null;
		         if(change) {
                    var lj = [];
                    $('.lj').each(function(i){
                        lj[i] = 1;
                        if($(this).val()!='') {
                            lj[i] = parseFloat($(this).val());
                        }
                    });
                    data = {lj:lj};
                }
    			$.getJSON('/data.jsonp', data, function(data) {
				    $('#container').highcharts('StockChart', {
					   rangeSelector : {
						  selected : 4
					   },
					   legend: {
					       enabled: true
					   },
					   series : data
				    });
    			});
			}
			
			getData(false);
			$('.lj').change(function(){
			     getData(true);
			});
			$('.del').click(function(){
			     var urlToDel = $(this).siblings('span.nf').attr('url');
			     $.post('/delurl',{
			         url:urlToDel
			     },function(){
			         console.log('deleted');
			         window.location.replace("/");
			     });
			});
		});  	
  	</script>
  </body>
</html>