<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/highstock.js"></script>
	<script src="/javascripts/exporting.js"></script>
    <title>charts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include urls.ejs %>

  	<div id="container" style="height: 500px; min-width: 500px"></div>
  	<script>
		$(function () { 
			$.getJSON('/data.jsonp', function(data) {
			     if(data != null && data.length > 0) {
				    $('#container').highcharts('StockChart', {
					   rangeSelector : {
						  selected : 4
					   },
					   series : data
				    });
				}
			});
			
			$('.del').click(function(){
			     var urlToDel = $(this).siblings('input').attr('url');
			     $.post('/delurl',{
			         url:urlToDel
			     },function(){
			         console.log('deleted');
			         window.location.replace("/");
			     });
			});
		});  	
  	</script>
  </body>
</html>