<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/highstock.js"></script>
	<script src="/javascripts/exporting.js"></script>
    <title>charts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include urls.ejs %>

  	<div id="container" style="height: 500px; min-width: 500px"></div>
  	<script>
		$(function () {
		  
		    var getData = function(){
                var lj = [];
                $('.lj').each(function(i){
                    lj[i] = 1;
                    if($(this).val()!='') {
                        lj[i] = parseFloat($(this).val());
                    }
                });
                var ch = [];
                $('.ch').each(function(i){
                    ch[i] = 0;
                    if($(this).is(':checked')) {
                        ch[i] = 1;
                    }
                });
    			$.getJSON('/data.jsonp', {lj:lj, ch:ch}, function(data) {
				    $('#container').highcharts('StockChart', {
					   rangeSelector : {
						  selected : 4
					   },
					   series : data
				    });
    			});
			}
			
			getData();
			$('.lj').change(function(){
			     getData();
			});
            $('.ch').change(function(){
                 getData();
            });			
			
			$('.del').click(function(){
			     var urlToDel = $(this).siblings('input').attr('url');
			     $.post('/delurl',{
			         url:urlToDel
			     },function(){
			         console.log('deleted');
			         window.location.replace("/");
			     });
			});
		});  	
  	</script>
  </body>
</html>